table {
    border-collapse:collapse
    }
td{
    border:1px solid #ddd;
    padding:8px;
}
.z2{
    background-color:blueviolet !important;
}

.z0{
    background-color:lightcoral !important;
}

.z4{
    background-color:cyan !important;
}
